[flake8]
# Set the max line length to 88, which matches black code formatter
# https://black.readthedocs.io/en/stable/
max-line-length = 88

exclude =
    # No reason to check git´s directory
    .git,
    # No value in checking cache directories
    __pycache__,
    # The projects virtual environment named .venv
    .venv,
    # Documentation doesn't need to be tracked
    docs


# extend-ignore =

verbose = 2
quiet = 0
format = pylint
max-complexity = 15
# We want to count the total number of errors flake8 finds during inspection
count = True
# Report all errors, even if it is on the same line as a # NOQA comment
disable-noqa = False
# Print the source code generating the error/warning in question
show-source = True
statistics = True

# Doctests
doctests = True
